<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Magazzino MVC - Edit Stock</title>
</head>
<a href="http://localhost:8080/magazzino/products">Lista prodotti</a> -
<a href="http://localhost:8080/magazzino/stock">Lista stock</a> -
<a href="http://localhost:8080/magazzino/newstock">Aggiungi stock</a> -
<a href="http://localhost:8080/magazzino/categories">Lista categorie</a> -
<a href="http://localhost:8080/magazzino/subcategories">Lista sottocategorie</a> -
<a href="http://localhost:8080/magazzino/newproduct">Aggiungi un prodotto</a> -
<a href="http://localhost:8080/magazzino/newcategory">Aggiungi una categoria</a> -
<a href="http://localhost:8080/magazzino/newsubcategory">Aggiungi una sottocategoria</a>
<body>
<h1> Modifica lo stock di: <span th:text="${stockToEdit.product.name}"></span> </h1>
<form th:action="@{/magazzino/editstock/{id}(id = ${stockToEdit.id})}" th:object="${stockToEdit}" method="post">
    <input type="hidden" th:value="${stockToEdit.id}" th:field="${stockToEdit.id}" th:required="required">
    <p>Prezzo base</p>
    <input type="number" th:value="${stockToEdit.basePrice}" th:field="${stockToEdit.basePrice}" th:required="required">
    <p>Quantity</p>
    <input type="text" th:value="${stockToEdit.quantity}" th:field="${stockToEdit.quantity}" th:required="required">
    <input type="hidden" th:value="${stockToEdit.product.id}" th:field="${stockToEdit.product.id}" th:required="required">
<!--    <select th:field="*{product.id}">-->
<!--        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>-->
<!--    </select>-->
    <button onclick="return confirm('Vuoi aggiornare le info di magazzino di questo prodotto?')">Aggiorna</button>
</form>
</body>
</html>