<html>
<head>

    <title>Magazzino MVC</title>
</head>
<a href="http://localhost:8080/magazzino/products">Lista prodotti</a> -
<a href="http://localhost:8080/magazzino/stock">Lista stock</a> -
<a href="http://localhost:8080/magazzino/newstock">Aggiungi stock</a> -
<a href="http://localhost:8080/magazzino/categories">Lista categorie</a> -
<a href="http://localhost:8080/magazzino/subcategories">Lista sottocategorie</a> -
<a href="http://localhost:8080/magazzino/newproduct">Aggiungi un prodotto</a> -
<a href="http://localhost:8080/magazzino/newcategory">Aggiungi una categoria</a> -
<a href="http://localhost:8080/magazzino/newsubcategory">Aggiungi una sottocategoria</a>
<body>

<h1>Lista Prodotti</h1>

<form th:action="@{/magazzino/editproduct/{id}(id = ${prodToEdit.id})}" th:object="${prodToEdit}" method="post">
    <input type="hidden" th:value="${prodToEdit.id}" th:field="${prodToEdit.id}" th:required="required">
    <p>Nome</p>
    <input type="text" th:value="${prodToEdit.name}" th:field="${prodToEdit.name}" th:required="required">
    <p>Descrizione del prodotto</p>
    <input type="text" th:value="${prodToEdit.shortDescription}" th:field="${prodToEdit.shortDescription}" th:required="required">

    <select th:field="*{subcategory.id}">
    <option th:each="subcategory : ${subcategories}" th:value="${subcategory.id}" th:text="${subcategory.name}"></option>
    </select>


    <button onclick="return confirm('Vuoi aggiornare il prodotto?')">Aggiorna</button>
</form>

</body>
</html>