<html>
<head>

    <title>Magazzino MVC</title>
</head>
<a href="http://localhost:8080/magazzino/products">Lista prodotti</a> -
<a href="http://localhost:8080/magazzino/stock">Lista stock</a> -
<a href="http://localhost:8080/magazzino/newstock">Aggiungi stock</a> -
<a href="http://localhost:8080/magazzino/categories">Lista categorie</a> -
<a href="http://localhost:8080/magazzino/subcategories">Lista sottocategorie</a> -
<a href="http://localhost:8080/magazzino/newproduct">Aggiungi un prodotto</a> -
<a href="http://localhost:8080/magazzino/newcategory">Aggiungi una categoria</a> -
<a href="http://localhost:8080/magazzino/newsubcategory">Aggiungi una sottocategoria</a>
<body>

<h1>Lista prodotti in Stock</h1>

<ul>
    <span> Numero di prodotti presenti: </span><span th:text="${#lists.size(wstock)}"></span>
    <p></p>
    <li th:each="stock : ${wstock}">
<!--        Id:-->
<!--        <span th:text="${stock.id}"></span> - -->
        Nome:
        <span th:text="${stock.product.name}"></span> -
        Categoria:
        <a th:href="@{/magazzino/productsbycategory/{id}(id=${stock.product.subcategory.category.id})}">
        <span th:text="${stock.product.subcategory.category.name}"></span>
            </a>
        -
        Sottocategoria:
        <a th:href="@{/magazzino/productsbysubcategory/{id}(id=${stock.product.subcategory.id})}">
            <span th:text="${stock.product.subcategory.name}"></span>
            </a> -

        Descrizione:
        <span maxlength="20" th:text="${stock.product.shortDescription}"></span> -
        Quantità:
        <span th:text="${stock.quantity}"></span> -
        Prezzo:
        <span th:text="${stock.basePrice}"></span>
        <a th:href="@{/magazzino/deletestock/{id}(id=${stock.id})}"><button>Elimina</button></a>
        <a th:href="@{/magazzino/editstock/{id}(id=${stock.id})}"><button>Edit</button></a>
    </li>
</ul>

</body>
</html>