<html>
<head>

    <title>Magazzino MVC</title>
</head>
<a href="http://localhost:8080/magazzino/products">Lista prodotti</a> -
<a href="http://localhost:8080/magazzino/stock">Lista stock</a> -
<a href="http://localhost:8080/magazzino/newstock">Aggiungi stock</a> -
<a href="http://localhost:8080/magazzino/categories">Lista categorie</a> -
<a href="http://localhost:8080/magazzino/subcategories">Lista sottocategorie</a> -
<a href="http://localhost:8080/magazzino/newproduct">Aggiungi un prodotto</a> -
<a href="http://localhost:8080/magazzino/newcategory">Aggiungi una categoria</a> -
<a href="http://localhost:8080/magazzino/newsubcategory">Aggiungi una sottocategoria</a>
<body>

<h1>Lista prodotti della sottocategoria: <span th:text="${subcategory.name}"></span></h1>

<form th:action="@{/magazzino/switchsubcategory/{id}(id = ${subcategoryid})}" th:object="${subcategory}" method="post">
<!--    <input type="hidden" th:value="${subcategory.id}" th:field="${subcategory.id}">-->
    <ul>
        <span> Numero di prodotti presenti: </span><span th:text="${#lists.size(products)}"></span>
        <p></p>
        <li th:each="product : ${products}">
            Id:
            <span th:text="${product.id}"></span> -
            Nome:
            <span th:text="${product.name}"></span> -
            Categoria:
            <span th:text="${product.subcategory.category.name}"></span> -
            Sottocategoria:
            <span th:text="${product.subcategory.name}"></span> -
            Descrizione:
            <span th:text="${product.shortDescription}"></span>

            <a th:href="@{/magazzino/deleteproduct/{id}(id=${product.id})}"><button>Elimina</button></a>
            <a th:href="@{/magazzino/editproduct/{id}(id=${product.id})}"><button>Edit</button></a>
        </li>
    </ul>

    <span> Seleziona la nuova sottocategoria di appartenenza per i prodotti soprastanti:  </span>


    <select th:field="*{id}">
        <option th:each="subcat : ${subcategories}" th:value="${subcat.id}" th:text="${subcat.name}"></option>
    </select>


    <button onclick="return confirm('Vuoi assegnare una nuova sottocategoria a questi prodotti?')">Salva</button>

<p></p>
    <span> N.B.: Per eliminare una sottocategoria, essa non deve contenere prodotti. </span>
</form>


</body>
</html>